#header, .footer {
    margin: 10px;
}

/* Media Query Responsive */
@media screen and (max-width: 500px){
    .box {
        display: inline;
    }   
}

@media screen and (min-width: 501px) and (max-width: 768px){
    .box {
        display: block;
    }   
}